.btn {
  --outline-offset-x: var(--outline-offset);
  --outline-offset-y: var(--outline-offset);

  position: relative;
  z-index: 0;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bs-btn-bg);
    transition: all .3s;
    z-index: -1;
  }

  &:hover {
    &:after {
      color: var(--bs-btn-hover-color);
      background-color: var(--bs-btn-hover-bg);
      border-color: var(--bs-btn-hover-border-color);
    }
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: calc(0px - var(--outline-offset-y));
    right: calc(0px - var(--outline-offset-x));
    width: 100%;
    height: 100%;
    border: 3px solid $secondary;
    transition: all .3s;
    z-index: -1;
  }

  &:hover {
    &:before {
      top: calc(0px - (var(--outline-offset-y) * .4));
      right: calc(0px - (var(--outline-offset-x) * .4));
    }
  }

  &:active {
    &:before {
      top: 0;
      right: 0;
    }
  }
}
