@use "./variables";

.wabDa {
    rotate: 15deg;
    margin-top: -8rem;

    .arrow{
        max-width: 40px;
    }

    .nav {
        --bs-nav-link-color: #{$light};
        --bs-nav-link-hover-color: #{$primary};
        display: flex;
        text-align: start;
        width: 100%;

        .nav-link {
            color: #{$light};
            text-shadow: 0px 0 #{$primary}, 0 0px #{$primary}, 0px 0 #{$primary},
                0 0px #{$primary};

            display: flex;
            align-items: flex-end;
            align-content: center;
            border-bottom: 3px solid #{$primary};
            text-align: left;
            transition: color #{$ease}, text-shadow #{$ease};

            .position-relative:has(.positioning) {
                min-height: 100px;

                .positioning {
                    display: flex;
                }
            }

            .text {
                width: fit-content;
                display: flex;
                flex-direction: column;
            }

            .icon {
                // margin-bottom: 0.3rem;
                transition: color #{$ease}, rotate #{$ease}, transform #{$ease};
                width: 40px;
            }

            .number {
                color: #{$light};
                transform: translateX(0%);
                transition: color #{$ease}, transform #{$ease}, text-shadow #{$ease};
            }

            &:hover,
            &.active {
                .number {
                    transform: translateX(90%);
                }

                .icon {
                    transform: translateX(1rem);
                }

                &:first-of-type {
                    .icon {
                        rotate: 75deg;
                    }
                }
                &:nth-of-type(2) {
                    .icon {
                        rotate: 90deg;
                    }
                }
                &:nth-of-type(3) {
                    .icon {
                        rotate: 115deg;
                    }
                }

                &:nth-of-type(4) {
                    .icon {
                        rotate: 135deg;
                    }
                }
            }

            &.active {
                color: #{$dark} !important;
                text-shadow: -1px 0 #{$primary}, 0 1px #{$primary}, 1px 0 #{$primary}, 0 -1px #{$primary};

                .number {
                    color: #{$dark} !important;
                    text-shadow: -1px 0 #{$primary}, 0 1px #{$primary}, 1px 0 #{$primary}, 0 -1px #{$primary};
                }

                .icon {
                    color: #{$primary} !important;
                }
            }

            /*
             * This will be the element that must be positioned one after the other with a different indentation
             * Because the text of each element is not the same, the indentation must be different, so we use
             * the transform and left/right properties to position the element
             */
            .positioning {
                align-items: center;
                position: absolute;
                top: 15%;
            }

            &:first-of-type {
                // nothing must be done
            }

            &:nth-of-type(2) {
                .positioning {
                    transform: translateX(-50%);
                    left: 36%;
                }
            }

            &:nth-of-type(3) {
                .positioning {
                    transform: translateX(50%);
                    right: 36%;
                }
            }

            &:nth-of-type(4) {
                .positioning {
                    right: 0;
                }
            }
        }
    }

    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link {
        color: #{$primary};
        background-color: transparent;
    }

    .tab-content {
        position: relative;
        z-index: -1;
        // we must use min-height because the height of the element is not fixed due to text translation and length
        min-height: 172px;
        rotate: -15deg;
        padding-left: 4rem;

        .tab-pane {
            max-width: 30%;
        }
    }
}
