.dropdown-menu {
  --transition: .3s ease-in-out;
  --transition-slow: .5s ease-in-out;

  display: block;
  transform: translateY(-150%);
  opacity: 0;
  transition: transform var(--transition), filter var(--transition), opacity var(--transition);
  filter: blur(5px);

  &.show {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}
