.dropdown-menu {
  --transition: .3s ease-in-out;
  --transition-slow: .5s ease-in-out;

  display: block;
  transform: translateY(-150%);
  opacity: 0;
  transition: transform var(--transition), opacity var(--transition-slow);

  &.show {
    transform: translateY(0);
    opacity: 1;
  }
}
