@use "./variables";

.wab-footer {
  .btn {
    --outline-color: #{$primary};
    --bs-btn-bg: #{$dark};
    --bs-btn-border-color: #{$light};
    --bs-btn-color: #{$light};
  }

  .div-with-title {
    min-height: 130px;
  }

  .social .icon {
    transition: color 0.3s ease-in-out;
    color: var(--bs-primary);

    &.wab-highlight {
      --x-offset: -.35em;
      --y-offset: -.35em;

      &:after {
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }

      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }

    svg {
      transition: transform 300ms ease-in-out;
    }

    &:hover {
      color: var(--bs-dark);

      svg {
        transform: rotate(15deg);
      }
    }
  }
}


