@use "./variables";

footer {




  .footer-header {
    height: 150px;
    border-bottom: 3px solid var(--accent-color);
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    font-family: variables.$font-family-titles;
    gap: 1rem;

    @include media-breakpoint-down(lg) {
      justify-content: center;
      gap: 1rem;
    }
    
    div{
      @include media-breakpoint-down(lg) {
        text-align: center;
      }
    }
  }

  // Class used by the fotter ? symbol and logo
  .footer-logo {
    width: 150px;
    height: 150px;
    font-size: 100px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      width: 100px;
      height: 100px;
      font-size: 50px;
    }
  }


  .lang-logo {
    max-width: 45px;
    // height: 50px;
    // font-size: 100px;
    display: flex;
    align-items: center;

    // @include media-breakpoint-down(lg) {
    //   width: 100px;
    //   height: 100px;
    //   font-size: 50px;
    // }
  }

  .col:has( > button) {
    @include media-breakpoint-down(lg) {
      display: flex;
      justify-content: center;
    }
  }

    .d-flex:has(> .social-icons-container) {
      @include media-breakpoint-down(lg) {
        margin-bottom: 1rem !important;
        
      }
    }

  .social-icons-container {
    display: flex;
    gap: 1rem;

    .icon {
      transition: color #{$ease};
      color: var(--accent-color);

      &.wab-highlight {
        --x-offset: -0.35em;
        --y-offset: -0.35em;

        &:after {
          opacity: 0;
          transition: opacity #{$ease};
        }

        &:hover {
          &:after {
            opacity: 1;
          }
        }
      }

      svg {
        transition: transform #{$ease};
      }

      &:hover {
        color: var(--bs-dark);

        svg {
          transform: rotate(15deg);
        }
      }
    }
  }

}