
        .f-spacing {
            letter-spacing: 6px;
        }

                .img-border {
                    position: absolute;
                    bottom: 36px;
                    left: 36px;
                }

                .img-bw {
                    filter: grayscale(100%);
                    transition: filter 1s ease-in-out;

        &:hover {
                filter: grayscale(0%);
                cursor: pointer;
            }
                }
