body {
  // main loader
  .loader {
    --loader-icon-size: 170px;
    --loader-border-size: 300px;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
    background-color: var(--bs-body-bg);
    transition: opacity .20s, background-color .25s;
    opacity: 0;
    pointer-events: none;

    .logo {
      position: relative;
      width: var(--loader-icon-size);
      height: var(--loader-icon-size);
      
      .icon {
        width: var(--loader-icon-size);
        height: var(--loader-icon-size);
      }

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: var(--loader-border-size);
        height: var(--loader-border-size);
        transform: translate(-50%, -50%);
        transform-origin: center;
        border: 2px solid var(--accent-color);
        z-index: -1;
        animation: spin 2s linear infinite;
      }
    }
  
    @include media-breakpoint-down(sm){
      --loader-icon-size: 100px;
      --loader-border-size: 170px;
    }
  }

  &.loading {
    overflow: hidden;

    .loader {
      opacity: 1;
      pointer-events: all;
    }
  }

  .loader svg {
    max-width: 500px;
  }
}
