@use "./variables";

.wab-nav {
  background-color: var(--bs-navbar-bg);

  // .container {
  //   @include media-breakpoint-down(sm) {
  //     flex-wrap: nowrap;
  //   }
  // }

  // .container:has(.show) {
  //   @include media-breakpoint-down(sm) {
  //     flex-wrap: inherit;
  //   }
  // }

  .btn-menu {
    box-shadow: none;

    &:before {
      top: calc(5px - var(--outline-offset-y));
      right: calc(5px - var(--outline-offset-x));
    }

    &:hover {

      .icon {
        rotate: 0deg;
      }

    }

  }

  .navbar-collapse {
    @include media-breakpoint-up(md) {
      // display: flex !important;
      // flex-basis: auto;
      /* margin-left: auto; */
      justify-content: flex-end;
    }
  }


  .flex-menu {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-basis: auto;
    }

    @include media-breakpoint-down(lg) {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
    }

    //   @include media-breakpoint-down(md) {
    //     // display: flex;
    //     margin-left: unset !important;
    //     flex-direction: column;
    //     align-items: center !important;
    //   }
  }

  .btn {
    @include media-breakpoint-down(lg) {
      align-self: end;
    }
  }

  .navbar-nav {
    @include media-breakpoint-down(lg) {
      margin-left: unset !important;
      // align-items: flex-end !important;
      align-self: end;
    }

    .nav-item {
      @include media-breakpoint-down(lg) {
        margin-bottom: 1rem;
        flex-direction: column;
        align-items: flex-start !important;
      }

      @include media-breakpoint-down(md) {
        // align-items: center !important;
      }
    }

    .nav-link {
      position: relative;
      padding-left: 1rem;
      padding-right: 1rem;



      &:not(.active) {
        &::after {
          content: "";
          opacity: 0;
          height: 1px;
          width: 10%;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: opacity #{$ease},
          width #{$ease};
          background-color: var(--accent-color);
        }

        &:hover::after {
          opacity: 1;
          width: 100%;
        }
      }

      &.active {
        background-color: transparent;

        // changes the default highlight size
        &.wab-highlight {
          --x-offset: 0.8rem;
          --y-offset: 0.2rem;
        }
      }
    }
  }

  .dropdown {
    .icon {
      width: 14px;
      height: 14px;
      margin-left: 8px;
      transition: rotate #{$ease};


    }

    .nav-link {

      &:hover,
      &.show {
        .icon {
          rotate: 45deg;
        }
      }
    }

    .dropdown-item {
      &:hover {
        .icon {
          rotate: -45deg;
        }
      }
    }

  }


}