@use "./variables";

.offcanvas-contacts {
    --bs-offcanvas-height: 50vh;
    --bs-offcanvas-zindex: 1050;
    --bs-offcanvas-border-width: 0;

    fieldset {
        border: 3px solid var(--bs-body-color);
        padding: 1rem;

        .form-control {
            border-color: var(--bs-body-color);
            color: var(--bs-body-color);

            &:autofill + label {
                color: black;
            }

            &:focus {
                border-color: var(--accent-color);
                // Let color be inherited from body because on light theme the accent color is to light and becomes unreadable
                //color: var(--accent-color);
            }
        }

        @include media-breakpoint-down(sm) {
            padding: 0;
            border: 0;
        }
    }

    .btn-close {
        --bs-btn-close-opacity: 1;
    }
}
