@use "./variables";

.wbaOffCanvas {
    --bs-offcanvas-color: #{$dark};
    --bs-offcanvas-bg: #{$light};
    --bs-offcanvas-width: 500px;

    .offcanvas-form {
        --outline-offset-x: var(--outline-offset);
        --outline-offset-y: var(--outline-offset);
        --outline-color: #{variables.$primary};
        position: relative;
        z-index: 0;
        background-color: #{$light};

        &:after {
            content: "";
            border: 3px solid $dark;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: #{$light};
            transition: all 0.3s;
            z-index: -1;
        }

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: calc(0px - var(--outline-offset-y));
            right: calc(0px - var(--outline-offset-x));
            width: 100%;
            height: 100%;
            border: 3px solid var(--outline-color);
            transition: all 0.3s;
            z-index: -1;
        }
    }

    .btn-close {
        --bs-btn-close-opacity: 1;
    }
    .btn {
        --outline-color: #{$primary};
        --bs-btn-bg: #{$light};
        --bs-btn-border-color: #{$dark};
        --bs-btn-color: #{$dark};
    }
}