@use "./variables";

h1,
h2,
h3 {
    font-family: variables.$font-family-titles;
}

hr {
    border-color: variables.$primary;
    border-width: 3px;
    opacity: 100%;
}

.icon {
    display: inline-block;
}

body {
    .loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1050;
        background-color: var(--bs-body-bg);
        transition: opacity .20s, background-color .25s;
        opacity: 0;
        pointer-events: none;

        .logo {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 300px;
                height: 300px;
                transform: translate(-50%, -50%);
                transform-origin: center;
                border: 2px solid var(--accent-color);
                z-index: -1;
                animation: spin 2s linear infinite;
            }
        }
    }

    &.loading {
        overflow: hidden;

        .loader {
            opacity: 1;
            pointer-events: all;
        }
    }

    .loader svg {
        max-width: 500px;
    }
}

@keyframes spin {
    from{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
