@use "./variables";

h1,
h2,
h3 {
    font-family: variables.$font-family-titles;
}

hr {
    border-color: variables.$primary;
    border-width: 3px;
    opacity: 100%;
}

.icon {
    display: inline-block;
}

@keyframes spin {
    from{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
