@use "./variables";

.service-card {
    h4, .border-bottom {
        transition: color #{$ease}, border-color #{$ease};
    }
    &:hover {
        h4 {
            color: variables.$primary-text !important;
        }
        .border-bottom {
            border-color: variables.$dark !important;
        }
    }
}
