@use "./variables";

.container-p-156 {
    padding-top: 156px;
    padding-bottom: 156px;

    @include media-breakpoint-down(lg) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

.me-n6 {
    margin-right: -91px;
}