@use "./variables";

.bordeTextBlack {
    border: 3px solid #1d1d1d;
    color: #1d1d1d;
}

.white-square {
    .inside-arrow {
        transform: rotate(-15deg);
    }
}

.bordeTextWhite {
    border: 3px solid #{$light};
    color: #{$light};
}
.red-square {
    background-color: #95363e;
}

.btn-sqr {
    width: 234.49px;
    aspect-ratio: 1/1;
    // min-height: 234.49px;
    transform: rotate(15deg);
    transition: rotate ease 1s, translate ease 1s;
}

.rotate-90 {
    transform: rotate(90deg);
}
.rotate-270 {
    transform: rotate(270deg);
}

.txt-img {
    display: flex;
    align-items: center;
}

.btn-hover {
    .red-square {
        margin-right: -91px;
    }

    &:hover {
        .white-square {
            rotate: -7deg;
            translate: -77px;
        }

        .red-square {
            rotate: 7deg;
            translate: 65px;
        }
    }
}

.btn-reverse-white {
    // transform: rotate(15deg);
    flex-direction: row-reverse;
    justify-content: flex-start;

    .white-square {
        margin-right: -91px;
    }

    &:hover {
        .red-square {
            rotate: -7deg;
            translate: -77px;
        }

        .white-square {
            rotate: 7deg;
            translate: 65px;
        }
    }
}
