@use "./variables";

.highlight {
  background: #f6e077;
  color: #1d1d1d;
  // padding:0 0.5rem;
}

.highlightRed {
  background: #95363e;
  color: #faf8e5;
}

.z-index-1 {
  z-index: -1;
}

.z-index1 {
  z-index: 1;
}

.flex-basis-0 {
  flex-basis: 0;
}

.arrowLeft{
  rotate: 180deg;
  max-width: 120px;
}

