$primary: #F6E077;
$secondary: #95363E;
$light: #FAF8E5;
$dark: #1D1D1D;
$primary-text: $primary;
$secondary-text: $secondary;
$light-text: $light;
$dark-text: $dark;

$body-color: $light;
$body-bg: $dark;
$headings-color: $light;
$border-color: $light;
$border-color-translucent: $light;
$border-radius: 0;
$box-shadow: none;
$box-shadow-inset: none;
$link-color: $secondary;

$input-bg: transparent;
$input-color: $dark;
$input-border-color: $dark;
$input-border-width: 1px;
$input-focus-color: $dark;
$input-btn-focus-box-shadow: none;
$input-focus-border-color: $secondary;
$form-floating-label-disabled-color: $dark;

$card-bg: $light;
$card-color: $dark;

$font-size-base: 1rem;
$font-family-sans-serif: 'Kanit', sans-serif;
$font-family-titles: 'Zen Dots', sans-serif;

$h1-font-size: $font-size-base * 4;
$h2-font-size: $font-size-base * 3.25;
$h3-font-size: $font-size-base * 2.25;
$h4-font-size: $font-size-base * 1.75;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

