$primary: #f6e077;
$secondary: #95363e;
$light: #faf8e5;
$dark: #1d1d1d;
$primary-text: $primary;
$secondary-text: $secondary;
$light-text: $light;
$dark-text: $dark;

$input-placeholder-color: $secondary;

$body-color: $light;
$body-bg: $dark;
$headings-color: $light;
$border-color: $light;
$border-color-translucent: $light;
$border-radius: 0;
$box-shadow: none;
$box-shadow-inset: none;
$link-color: $secondary;

$input-bg: transparent;
$input-color: $dark;
$input-border-color: $dark;
$input-border-width: 1px;
$input-focus-color: $dark;
$input-btn-focus-box-shadow: none;
$input-focus-border-color: $secondary;
$form-floating-label-disabled-color: $dark;

$card-bg: $light;
$card-color: $dark;

$font-size-base: 1rem;
$font-family-sans-serif: "Kanit", sans-serif;
$font-family-titles: "Zen Dots", sans-serif;

$h1-font-size: $font-size-base * 4;
$h2-font-size: $font-size-base * 3.25;
$h3-font-size: $font-size-base * 2.25;
$h4-font-size: $font-size-base * 1.75;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$enable-negative-margins: true;

$ease: 0.3s ease-in-out;
