@use "../partials/variables";

[data-bs-theme="dark"] {
  --bs-body-bg: #{variables.$dark};
  --bs-body-color: var(--bs-light);
  --bs-heading-color: var(--bs-light);
  --bs-border-color: var(--bs-light);
  --bs-link-color-rgb: #{to-rgb(variables.$light)};
  --bs-link-hover-color-rgb: #{to-rgb(variables.$primary)};

  // accent used for some lines
  --accent-color: #{variables.$primary};
  --accent-color-contrast: #{variables.$dark};

  // logo variables
  --logo-text: #{variables.$light};
  --logo-accent: #{variables.$primary};

  .navbar {
    --bs-navbar-bg: var(--bs-dark);
    --bs-navbar-color: var(--bs-light);
    --bs-navbar-active-color: var(--bs-dark);
    --bs-navbar-hover-color: var(--bs-white);
  }

  .card {
    --bs-card-border-color: var(--bs-primary);
  }

  .dropdown {
    .dropdown-menu {
      --bs-dropdown-bg: var(--bs-dark);
      --bs-dropdown-border-color: var(--bs-border-color);
      --bs-dropdown-link-hover-color: var(--bs-dark);
      --bs-dropdown-link-active-color: var(--bs-dark);
      --bs-dropdown-link-hover-bg: var(--bs-primary);
      --bs-dropdown-link-active-bg: var(--bs-primary);
    }
  }

  .btn-sqr {
    --border-square-color: #{variables.$light};
    --text-color: #{variables.$light};
    --icon-color: #{variables.$dark};
    --icon-bg-color: #{variables.$primary};
  }

  .wab-highlight {
    --color: #{variables.$dark};
    --wab-bg-highlight-url: url("/public/assets/highlight_primary.svg");
  }
}
