@use "../partials/variables";

[data-bs-theme="light"] {
  --bs-body-bg: #{variables.$light};
  --bs-body-color: var(--bs-dark);
  --bs-heading-color: var(--bs-dark);
  --bs-border-color: #cfcfcf;
  --accent-color: #{variables.$primary};
  --accent-color-contrast: #{variables.$dark};
  --bs-link-color-rgb: #{to-rgb(variables.$dark)};
  --bs-link-hover-color-rgb: #{to-rgb(variables.$primary)};

  // logo variables
  --logo-text: #{variables.$dark};
  --logo-accent: #{variables.$primary};

  .navbar {
    --bs-navbar-bg: var(--bs-light);
    --bs-navbar-color: var(--bs-dark);
    --bs-navbar-active-color: var(--bs-dark);
  }

  .btn-light {
    --bs-btn-hover-bg: #{$primary};
    --outline-color: var(--bs-primary);
  }

  .btn {
    --bs-btn-bg: var(--bs-body-bg);
    --bs-btn-color: var(--bs-body-color);
    --outline-color: var(--accent-color);
  }

  .btn:after {
    border: 3px solid var(--bs-body-color);
  }

  // .wab-accordion {
  //   .accordion-button {
  //     &:hover {
  //       color: var(--bs-body-bg);
  //     }

  //     &:not(.collapsed) {
  //       .text {
  //         color: var(--bs-body-bg);
  //       }
  //     }
  //   }
  // }

  .card {
    --bs-card-border-color: var(--bs-primary);
  }

  .dropdown {

    .dropdown-menu {
      --bs-dropdown-bg: var(--bs-light);
      --bs-dropdown-border-color: var(--bs-border-color);
      --bs-dropdown-link-hover-color: var(--bs-dark);
      --bs-dropdown-link-active-color: var(--bs-dark);
      --bs-dropdown-link-hover-bg: var(--bs-primary);
      --bs-dropdown-link-active-bg: var(--bs-primary);
    }
  }

  .btn-sqr {
    --bg-square-color: #{variables.$secondary};
    --border-square-color: #{variables.$dark};
    --text-color: #{variables.$dark};
    --icon-color: #{variables.$dark};
    --icon-bg-color: #{variables.$primary};
  }

  .wab-highlight {
    --color: #{variables.$dark};
    --wab-bg-highlight-url: url("/public/assets/highlight_primary.svg");
  }
}