@use "../partials/variables";

[data-bs-theme="yellow"] {
  --bs-body-bg: #{variables.$primary};
  --bs-body-color: var(--bs-dark);
  --bs-heading-color: var(--bs-dark);
  --accent-color: #{variables.$secondary};
  --bs-link-color-rgb: #{to-rgb(variables.$dark)};
  --bs-link-hover-color-rgb: #{to-rgb(variables.$secondary)};

  // logo variables
  --logo-text: #{variables.$dark};
  --logo-accent: #{variables.$secondary};

  .navbar {
    --bs-navbar-bg: var(--bs-primary);
    --bs-navbar-color: var(--bs-dark);
    --bs-navbar-active-color: var(--bs-light);
  }

  .btn-primary {
    --bs-btn-color: var(--bs-light);
    --bs-btn-hover-color: var(--bs-light);
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-hover-bg: #{lighten(variables.$secondary, 1%)};
    --outline-color: var(--bs-light);
  }

  .card{
    --bs-card-border-color: var(--bs-secondary);
  }

  .dropdown {

    .dropdown-menu {
      --bs-dropdown-bg: var(--bs-primary);
      --bs-dropdown-border-color: var(--bs-border-color);
      --bs-dropdown-link-hover-color: var(--bs-dark);
      --bs-dropdown-link-active-color: var(--bs-dark);
      --bs-dropdown-link-hover-bg: var(--bs-light);
      --bs-dropdown-link-active-bg: var(--bs-light);
    }
  }

  .btn-sqr {
    --bg-square-color: #{variables.$secondary};
    --border-square-color: #{variables.$dark};
    --text-color: #{variables.$dark};
    --icon-color: #{variables.$dark};
    --icon-bg-color: #{variables.$light};
  }

  .wab-highlight {
    --color: #{variables.$light};
    --wab-bg-highlight-url: url("/public/assets/highlight_secondary.svg");
  }
}
