@use "../partials/variables";

[data-bs-theme="yellow"] {
  --bs-body-color: var(--bs-dark);

  .navbar {
    --bs-navbar-bg: var(--bs-primary);
    --bs-navbar-color: var(--bs-dark);
    --bs-navbar-active-color: var(--bs-light);
  }

  .dropdown {

    .dropdown-menu {
      --bs-dropdown-bg: var(--bs-primary);
      --bs-dropdown-border-color: var(--bs-border-color);
      --bs-dropdown-link-hover-color: var(--bs-dark);
      --bs-dropdown-link-active-color: var(--bs-dark);
      --bs-dropdown-link-hover-bg: var(--bs-light);
      --bs-dropdown-link-active-bg: var(--bs-light);
    }
  }

  .wab-highlight {
    --color: #{variables.$light};
    --wab-bg-highlight-url: url("/public/assets/highlight_secondary.svg");
  }
}
