.wab-img {
    display: flex;
    justify-content: end;

    img {
        // max-width: 40vw;
        max-height: 600px;
    }

    .img-border {
        position: absolute;
        bottom: 36px;
        right: -20px;
        left: auto;
    }
}

.z-index-none {
    z-index: unset;
}

.services {
    .card-body {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .nav-link.active {
        background-color: #{$light};

        h4 {
            color: #{$primary} !important;
        }

        .border-bottom {
            border-color: #{$dark} !important;
        }
    }
}

.wrapper {
    max-width: 100vw;
    //    max-height: 26vh;
    display: flex;
    align-items: center;
    justify-content: start;
}

.arrowM {
    z-index: 1;
}
